:root {
    --Background-Color: #CFD5CD;
    --Primario: #314648;
    --Secundario: #FFBD6E;
    --General: #2b2b2b;
    --Color-Error: #F93822;

    --Font-Primaria: 'Bebas Neue', cursive;
    --Font-Secundaria: 'Montserrat', sans-serif;

    --Extra-Grande: 8rem;
    --Titulos: 4rem;
    --Subtitulos: 2.5rem;
    --SubSubtitulos: 1.5rem;
    --Tamano-General: 1rem;
    --Chica: 0.8rem;
    --ExtraChica: 0.5rem;

    --offset: 10px;
    --border-size: 2px;
}

$delay: 0.015s;
$duration: 0.6s;
$easing: cubic-bezier(0.76, 0, 0.24, 1);

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    list-style-type: none;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-track {
    display: none;
}

::selection {
    background: var(--Secundario)
}

::-moz-selection {
    background: var(--Primario);
}

::placeholder {
    font-family: var(--Font-Primaria);
    font-size: var(--SubSubtitulos);
    text-align: center;
    letter-spacing: .1em;
    font-weight: bold;
    color: var(--Primario);
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    display: block;
    font-family: var(--Font-Primaria);
    font-size: var(--SubSubtitulos);
    border: var(--General)solid.1em;
    color: var(--General);
    text-transform: lowercase;
    text-align: left;
    text-decoration: none;
    border-radius: 0;
    transition: .3s ease all;
    box-sizing: border-box;
    padding: .5em;
    margin: .5em;
    appearance: none;
}

label {
    font-family: var(--Font-Secundaria);
    font-size: var(--SubSubtitulos);
    color: var(--General);
    letter-spacing: .2em;
    font-weight: bolder;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--Background-Color);
    margin: 0;
    padding: 0;
}

a,
a:link,
a:visited,
a:active {
    text-decoration: none;
    color: var(--General);
}

nav {
    width: 100%;
    height: auto;
    top: 0;
    background-color: transparent;
    border: var(--General)solid 0.2rem;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    text-align: center;
    transition: .5s;
    justify-content: center;
    margin: 0 0 2em 0;

    a {
        font-family: var(--Font-Secundaria);
        font-size: var(--SubSubtitulos);
        color: var(--General);
        font-weight: lighter;

        &:hover {
            color: var(--Secundario);
            text-decoration: line-through;
            transition: .5s;
        }
    }

    &.activa {
        width: 100%;
        height: auto;
        text-align: center;
        padding: 1rem;
        z-index: 1;
        background: var(--Primario);
        border: var(--General)solid 0.2em;
        color: var(--Background-Color);
        transition: ease-in 1s;
        border-left: transparent;
        border-right: transparent;
        border-top: transparent;
        position: sticky;
    }
}

.mb-nav {
    display: none;
}

.invalid-feedback {
    font-family: var(--Font-Secundaria);
    font-size: var(--SubSubtitulos);
    font-weight: bold;
    letter-spacing: .2em;
    text-decoration: none;
    text-align: center;
    color: var(--Color-Error);
}

input {
    display: block;
    padding: 1em;
    font-size: var(--Tamano-General);
    margin: 1em;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
    border: var(--General)solid.2em;
    outline: none !important;
}

.valido {
    border: var(--Primario) solid .2em;
}

.invalido {
    border: var(--Color-Error) solid .2em;
}

input+p {
    font-family: var(--Font-Secundaria);
    font-size: var(--SubSubtitulos);
    color: var(--Color-Error);
    text-decoration: none;
    text-align: center;
    opacity: 0;
    height: 0;
}

input+p+strong {
    color: var(--Color-Error);
}

input.invalido+p {
    opacity: 1;
    height: auto;
    margin: .2em;
}

.percent {
    position: fixed;
    display: flex;
    flex-direction: column;
    background: var(--General);
    height: 140px;
    width: 1px;
    margin: -60px 0 0 40px;
    z-index: 9;

    .fill {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        transition: background 0.15s ease;
    }
}

.contenedor_saludo {
    width: 100%;
    height: auto;
    display: grid;
    place-content: center;
    background-color: var(--General);
    border-radius: 0;
    margin: 2em 0 2em 0;
    overflow-x: hidden;

    h1 {
        font-family: var(--Font-Secundaria);
        font-size: var(--Titulos);
        writing-mode: vertical-rl;
        color: var(--Background-Color);
        letter-spacing: .2em;
        font-weight: bolder;
        padding: 1em;
        margin: 1em;

        &:first-letter {
            font-family: var(--Font-Primaria);
            font-size: var(--Extra-Grande);
            color: var(--Secundario);
            font-weight: lighter;
        }
    }
}

.contenedor_about_me {
    width: 100%;
    height: auto;
    display: grid;
    place-content: center;
    background-color: transparent;
    justify-content: center;
    border: var(--General)solid.2em;
    border-left: transparent;
    border-top: transparent;
    border-bottom: transparent;
    border-radius: 0;
    margin: 2em 0 2em 0;
    overflow-x: hidden;

    p {
        font-family: var(--Font-Secundaria);
        font-size: var(--SubSubtitulos);
        margin: 2em 0 2em 0;
    }

    h1 {
        font-family: var(--Font-Secundaria);
        font-size: var(--Subtitulos);
        color: var(--Primario);
        text-decoration: none;
        font-weight: lighter;
        letter-spacing: .2em;

        &:first-letter {
            font-family: var(--Font-Primaria);
            font-size: var(--Extra-Grande);
            font-weight: bolder;
            color: var(--Secundario);
        }

        &:hover {
            color: var(--Secundario);
            text-decoration: underline;
            transition: ease .5s;
        }

    }

    img {
        max-width: 50vw;
        height: auto;
        object-fit: cover;
        pointer-events: none;
    }

    .wrap-image {
        position: relative;

        &::before,
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
            border: var(--General)solid.2em;
            transition: all .25s ease-out;
        }

        &::before {
            background-color: var(--Secundario);
            top: -0.938em;
            left: -0.938em;
        }

        &::after {
            bottom: -0.938em;
            right: -0.938em;
        }

        &:hover {
            &::before {
                top: 0.938em;
                left: 0.938em;
            }

            &::after {
                bottom: 0.938em;
                right: 0.938em;
            }
        }
    }


    strong {
        font-family: var(--Font-Primaria);
        font-weight: lighter;
        color: var(--Primario);
        letter-spacing: .5em;
        line-height: 2em;

        &:hover {
            color: var(--Secundario);
            text-decoration: underline;
            transition: ease-in.5s;
        }
    }
}

.contenedor_separador_portafolio {
    width: 100%;
    height: auto;
    display: grid;
    place-content: center;
    background-color: transparent;
    justify-content: center;
    border: var(--General)solid.2em;
    border-right: transparent;
    border-left: transparent;
    border-top: transparent;
    border-bottom: transparent;
    border-radius: 0;
    margin: 2em 0 2em 0;
    overflow-x: hidden;

    .parallax:before {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        -webkit-filter: brightness(.8);
        filter: brightness(.5);
    }

    div.portafolio {
        position: relative;
        height: auto;
    }

    div.portafolio:before {
        background-image: url(/Assets/Img/Portafolio.jpg);
        content: '';
    }

    h1 {
        font-family: var(--Font-Secundaria);
        font-size: var(--Titulos);
        font-weight: lighter;
        color: var(--Secundario);
        letter-spacing: .5em;
        display: grid;
        place-content: center;
        position: relative;
        padding: 2em;
    }



}

.contenedor_portafolio {
    width: 100%;
    height: auto;
    background-color: var(--General);
    border: var(--General)solid .2em;
    border-radius: 0;
    overflow-x: hidden;

    .menu__item {
        position: relative;
        padding: 1vw 0 0 0;
        margin: .2em;
    }

    .menu__item-link {
        display: inline-block;
        cursor: pointer;
        position: relative;
        color: var(--Background-Color);
        -webkit-transition: opacity .8s;
        transition: opacity .8s;
        font-family: var(--Font-Secundaria);
        text-transform: uppercase;
    }

    .menu__item-link::before {
        all: initial;
        text-transform: uppercase;
        counter-increment: menu;
        position: absolute;
        bottom: 60%;
        left: 0;
        pointer-events: none;
    }

    .menu__item-link:hover {
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        opacity: 0;
        color: var(--Secundario);
    }

    .menu__item-img {
        pointer-events: none;
        position: absolute;
        height: 50vh;
        max-height: 25em;
        opacity: 0;
        left: 100%;
        top: 50%;
        -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
        transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
    }

    .menu__item-link:hover+.menu__item-img {
        opacity: 1;
        -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
        transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
    }

    .menu {
        padding: 0vh 0 0 0vh;
        --offset: 20vw;
        --move-initial: calc(-25% + var(--offset));
        --move-final: calc(-50% + var(--offset));
        font-size: 8vw;
    }

    .marquee {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        overflow: hidden;
        color: var(--Secundario);
        pointer-events: none;
        mix-blend-mode: difference;
    }

    .marquee__inner {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        -webkit-animation: marquee 5s linear infinite;
        animation: marquee 5s linear infinite;
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
        opacity: 0;
        -webkit-transition: opacity 0.1s;
        transition: opacity 0.1s;
        padding: 2vw 0;
    }

    .menu__item-link:hover~.marquee .marquee__inner {
        -webkit-animation-play-state: running;
        animation-play-state: running;
        opacity: 1;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
    }

    .menu__item-link,
    .marquee span {
        white-space: nowrap;
        font-size: 6vw;
        padding: 1vw 1vw;
        font-weight: 900;
    }

    .marquee span {
        font-family: var(--Font-Secundaria);
        text-transform: uppercase;
    }

    @-webkit-keyframes marquee {
        0% {
            -webkit-transform: translate3d(var(--move-initial), 0, 0);
            transform: translate3d(var(--move-initial), 0, 0);
        }

        100% {
            -webkit-transform: translate3d(var(--move-final), 0, 0);
            transform: translate3d(var(--move-final), 0, 0);
        }
    }

    @keyframes marquee {
        0% {
            -webkit-transform: translate3d(var(--move-initial), 0, 0);
            transform: translate3d(var(--move-initial), 0, 0);
        }

        100% {
            -webkit-transform: translate3d(var(--move-final), 0, 0);
            transform: translate3d(var(--move-final), 0, 0);
        }
    }
}

.contenedor_testimonios_cartas_recomendacion {
    width: 100%;
    height: auto;
    background-color: transparent;
    border: var(--General)solid .2em;
    border-radius: 0;
    overflow-x: hidden;
    display: grid;
    place-content: center;
    padding: 2em;
    margin: 2em 0 2em 0;

    .rolling-text {
        display: inline-block;
        font-family: var(--Font-Secundaria);
        $font-size: 2em;
        font-size: $font-size;
        line-height: $font-size * 1.5;
        letter-spacing: $font-size / 2;
        height: $font-size * 1.5;
        text-decoration: none;
        overflow: hidden;
        color: var(--General);

        &:hover {
            .letter {
                transform: translateY(-100%);
            }
        }

        .block:last-child {
            color: var(--Secundario);
        }

        .letter {
            display: inline-block;
            transition: transform $duration $easing;
        }
    }

    @for $i from 0 through 20 {
        .letter:nth-child(#{$i + 1}) {
            transition-delay: $delay * $i;
        }
    }

    .card-deck {
        width: 100%;
        height: auto;
        overflow-x: hidden;

        .card {
            width: 100%;
            height: auto;
            background-color: transparent;
            border-radius: 0;
            border: var(--General)solid.2em;

            .card-img-top {
                width: 100%;
                height: auto;
                object-fit: cover;
                pointer-events: none;
                border-radius: 0;
            }

            .card-body {
                width: 100%;
                height: auto;

                .card-title {
                    font-family: var(--Font-Secundaria);
                    font-size: var(--SubSubtitulos);
                    font-weight: lighter;
                    color: var(--General);
                    text-decoration: none;
                    text-transform: uppercase;
                    text-align: center;
                }

                .card-text {
                    font-family: var(--Font-Secundaria);
                    font-size: var(--Tamano-General);
                    color: var(--Primario);
                    text-align: left;
                    text-decoration: none;
                }
            }

            .card-footer {
                width: 100%;
                height: auto;
                background-color: transparent;
                border-top: var(--General)solid;

                .icono-footer {
                    font-size: var(--Subtitulos);
                    color: var(--Primario);

                    &:hover {
                        color: var(--Secundario);
                        transition: ease-in .5s;
                    }
                }
            }
        }
    }
}

.contenedor_formulario_de_contacto {
    width: 100%;
    height: auto;
    background-color: transparent;
    border: var(--Primario)solid .2em;
    border-radius: 0;
    overflow-x: hidden;
    display: grid;
    place-content: center;
    padding: 2em;
    margin: 2em 0 2em 0;

    button.enviar {
        position: relative;
        padding: 3em 0 3em 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        font-family: var(--Font-Secundaria);
        font-size: var(--Tamano-General);
        font-weight: bolder;
        margin: 1em;
        font-weight: bold;
        letter-spacing: 1em;

        &.efecto_doble {

            &.efecto_doble::after,
            &.efecto_doble::before {
                content: '';
                display: block;
                position: absolute;
                width: 30%;
                height: 30%;
                border: .2em solid;
                transition: all .7s ease-in;
                border-radius: 0;
            }

            &.efecto_doble::after {
                bottom: 0;
                right: 0;
                border-top-color: transparent;
                border-left-color: transparent;
                border-bottom-color: var(--Secundario);
                border-right-color: var(--Secundario);
            }

            &.efecto_doble::before {
                top: 0;
                left: 0;
                border-bottom-color: transparent;
                border-right-color: transparent;
                border-top-color: var(--Secundario);
                border-left-color: var(--Secundario);
            }

            &.efecto_doble:hover:after,
            &.efecto_doble:hover:before {
                border-bottom-color: var(--General);
                border-right-color: var(--General);
                border-top-color: var(--General);
                border-left-color: var(--General);
                width: 100%;
                height: 100%;
            }
        }
    }

}


footer {
    width: 100%;
    height: auto;
    bottom: 0;
    background-color: transparent;
    border: var(--General)solid 0.2rem;
    border-left: transparent;
    border-right: transparent;
    justify-content: center;
    padding: 2em;

    a {
        font-family: var(--Font-Secundaria);
        font-size: var(--SubSubtitulos);
        color: var(--General);
        letter-spacing: .2em;
        padding: .4em;
        text-decoration: none;
        text-emphasis: none;
        text-align: center;

        &:hover {
            color: var(--Secundario);
            text-decoration: underline;
            transition: .5s;
        }
    }



    .celular,
    .linkedin,
    .github,
    .arriba {
        width: 100%;
        height: auto;
        border: var(--General)solid .1em;
        border-bottom: transparent;
        border-top: transparent;
        text-align: center;
    }

    .correo {
        width: 100%;
        height: auto;
        border: var(--General)solid .1em;
        border-bottom: transparent;
        text-align: center;
        padding: 1em 0 0 0;
        font-size: var(--Chica);
    }

    .celular:not(.linkedin) {
        border-right: transparent;
    }

    .github:not(.linkedin) {
        border-left: transparent;
    }

    .arriba:not(.github) {
        border-left: transparent;
    }
}

/*****************************************************************/

@media only screen and (max-width: 600px) {

    body {
        padding: 5em 0 5em 0;
    }

    nav {
        display: none;
        visibility: hidden;

        #acerca_de_mi,
        #portafolio,
        #testimonios,
        #contacto {
            display: none;
            visibility: hidden;
        }
    }


    .mb-nav {
        display: flex;
        width: 100%;
        height: 10%;
        justify-content: space-between;
        align-items: center;
        background-color: var(--Background-Color);
        z-index: 9;
        overflow: hidden;
    }

    .mb-nav-item {
        display: grid;
        place-content: center;
        flex: 25%;
        padding: 1rem 0;
    }

    .mb-nav-item i,
    .mb-nav-item a {
        font-size: 2rem;
        color: var(--General);
        z-index: 2;
        transition: 0.5s ease-in-out;

        &:hover {
            color: var(--Secundario);
        }
    }

    .mb-nav-item.active i,
    .mb-nav-item.active a {
        color: var(--Secundario);
    }

    .mb-move-item {
        position: absolute;
        margin: 0;
        padding: 0;
        width: auto;
        height: 100%;
        background-color: var(--Primario);
        transition: 0.5s ease-in-out;
    }

    .percent,
    .fill {
        display: none;
        visibility: hidden;
    }

    .contenedor_saludo,
    .contenedor_about_me,
    .contenedor_separador_portafolio,
    .contenedor_portafolio,
    .contenedor_testimonios_cartas_recomendacion,
    .contenedor_formulario_de_contacto {
        overflow-x: hidden;
    }

    .contenedor_about_me {
        display: grid;
        place-content: center;

        h1 {
            font-family: var(--Font-Secundaria);
            font-size: var(--SubSubtitulos);
            color: var(--Primario);
            text-decoration: none;
            font-weight: bolder;
            text-align: center;
            letter-spacing: .7em;
            margin: 2em 0 2em 0;
            padding: 2em 0 2em 0;

            &:first-letter {
                font-family: var(--Extra-Grande);
                font-size: var(--Titulos);
                font-weight: bolder;
                color: var(--Secundario);
            }

            &:hover {
                color: var(--Secundario);
                text-decoration: underline;
                transition: ease .5s;
            }

        }

        img {
            right: 0;
            width: 50%;
            height: auto;
            pointer-events: none;
        }

        .wrap-image {
            right: 0;

            &::before,
            &::after {
                content: "";
                width: 50%;
                height: 50%;
                position: absolute;
                z-index: -1;
                border: var(--General)solid.2em;
                transition: all .25s ease-out;
            }

            &::before {
                background-color: var(--Secundario);
                top: 0.469em;
                left: 0.469em;
            }

            &::after {
                bottom: 0.469em;
                right: 0.469em;
            }

            &:hover {
                &::before {
                    top: -0.469em;
                    left: -0.469em;
                }

                &::after {
                    bottom: -0.469em;
                    right: -0.469em;
                }
            }
        }

        p {
            font-family: var(--Chica);
            letter-spacing: .1;
        }
    }

    .contenedor_separador_portafolio {
        h1 {
            font-size: var(--Subtitulos);
            letter-spacing: .2em;
        }
    }

    .contenedor_testimonios_cartas_recomendacion {

        .rolling-text {
            display: inline-block;
            font-family: var(--Font-Secundaria);
            $font-size: 1.2em;
            font-size: $font-size;
            line-height: $font-size * 1.5;
            letter-spacing: $font-size / 2;
            height: $font-size * 1.5;
            text-decoration: none;
            overflow: hidden;
            color: var(--General);
            margin: 1em 0 1em 0;

            &:hover {
                .letter {
                    transform: translateY(-100%);
                }
            }

            .block:last-child {
                color: var(--Secundario);
            }

            .letter {
                display: inline-block;
                transition: transform $duration $easing;
            }
        }

        @for $i from 0 through 20 {
            .letter:nth-child(#{$i + 1}) {
                transition-delay: $delay * $i;
            }
        }

        h1 {
            font-size: var(--ExtraChica);
        }
    }

    .contenedor_separador_portafolio {
        h1 {
            letter-spacing: .1rem;
        }
    }

    button.enviar {
        position: relative;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        font-family: var(--Font-Secundaria);
        font-size: var(--Tamano-General);
        font-weight: bolder;
        margin: .2em;
        font-weight: bold;
        letter-spacing: 1em;

        &.efecto_doble {

            &.efecto_doble::after,
            &.efecto_doble::before {
                content: '';
                display: block;
                position: absolute;
                width: 30%;
                height: 30%;
                border: .2em solid;
                transition: all .7s ease-in;
                border-radius: 0;
            }

            &.efecto_doble::after {
                bottom: 0;
                right: 0;
                border-top-color: transparent;
                border-left-color: transparent;
                border-bottom-color: var(--Secundario);
                border-right-color: var(--Secundario);
            }

            &.efecto_doble::before {
                top: 0;
                left: 0;
                border-bottom-color: transparent;
                border-right-color: transparent;
                border-top-color: var(--Secundario);
                border-left-color: var(--Secundario);
            }

            &.efecto_doble:hover:after,
            &.efecto_doble:hover:before {
                border-bottom-color: var(--General);
                border-right-color: var(--General);
                border-top-color: var(--General);
                border-left-color: var(--General);
                width: 100%;
                height: 100%;
            }
        }
    }
}

/*****************************************************************/

.swal-modal {
    width: 50%;
    height: auto;
    background-color: var(--Background-Color);
    border: var(--General)solid.2em;
    border-radius: 0;

    .swal-text {
        font-family: var(--Font-Secundaria);
        font-size: var(--SubSubtitulos);
        font-weight: lighter;
        color: var(--General);
        text-align: center;
        text-decoration: none;
        letter-spacing: .2em;
    }

    .swal-overlay {
        background-color: transparent;
    }
}